In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('data/KillbuckWeatherData.csv')

In [7]:
data.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,-18000,Township Road 22,40.441789,-82.040213,51.49,50.86,50.95,53.38,...,176,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00 +0000 UTC,-18000,Township Road 22,40.441789,-82.040213,51.55,50.92,50.94,53.38,...,178,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00 +0000 UTC,-18000,Township Road 22,40.441789,-82.040213,51.67,51.06,50.95,53.38,...,185,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00 +0000 UTC,-18000,Township Road 22,40.441789,-82.040213,54.54,53.96,53.87,55.26,...,186,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00 +0000 UTC,-18000,Township Road 22,40.441789,-82.040213,54.57,53.96,53.85,55.29,...,187,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n